.section {
    padding: 80px 0;

    @media (max-width: $wwa + px) {
        padding: 70px 0;
    }

    @media (max-width: $wwa2 + px) {
        padding: 60px 0;
    }

    @media (max-width: $wwa3 + px) {
        padding: 50px 0;
    }
}

.section_dark {
    background-color: #F0F7F9;
}

.section-title {
    display: flex;
    justify-content: center;
}

.section-title__title {
    text-align: center;
}

// Заголовок секции по середине с описание
.section-title_center {
    flex-direction: column;
    align-items: center;
}

// Заголовок секции слева с описание и иконкой
.section-title_left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $wwa3 + px) {
      justify-content: center;
    }

    & .section-title__title {
        font-size: 28px;
        font-weight: 700;
        text-align: left;

        @media (max-width: $wwa3 + px) {
            font-size: 20px;
            text-align: center;
        }
    }

    & .section-title__descr {
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0 0 0;
        text-align: left;

        @media (max-width: $wwa3 + px) {
            text-align: center;
        }
    }

    & .section-title__change-layout {
        min-width: 30px;
        height: 30px;
        margin: 0 0 0 12px;

        & svg {
            height: 100%;
        }

        @media (max-width: $wwa3 + px) {
          display: none;
        }
    }
}

.section-title__descr {
    max-width: 390px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0 0 0;

    @media (max-width: $wwa3 + px) {
      margin: 20px 0 0 0;
    }
}

.section-title_edit {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    & .section-title__title {
        text-align: left;
    }
}

.section-title__add {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: right;
    margin: 0 0 0 12px;

    @media (max-width: $wwa3 + px) {
      font-size: 14px;
    }
}