.main {
    width: 100%;
    // height: 648px;
    background: url(../img/main-bg.png) center no-repeat, $main;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: -150px;
        left: 0;
        width: 100%;
        height: 415px;
        background: linear-gradient(180deg, rgba(31, 44, 81, 0) 2.82%, #1F2C51 67.49%);
        pointer-events: none;
    }

    & .container {
        height: 100%;
    }
}

// Контент главной страницыf
.main-body {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 90px 0 120px 0;
    overflow: hidden;

    @media (max-width: $wwa + px) {
      flex-direction: column;
    }

    @media (max-width: 620px) {
        padding: 36px 0 30px 0;
    }

    @media (max-width: 540px) {
      overflow: visible;
    }
}

.container {

}

.main-content {
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main__slogan {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;

    @media (max-width: $wwa3 + px) {
    //   font-size: 16px;
        display: none;
    }
}

.main__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    text-transform: uppercase;
    margin: 12px 0 0 0;

    @media (max-width: $wwa3 + px) {
    //   font-size: 22px;
    //   margin: 8px 0 0 0;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        margin: 0;
    }
}

.main__tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.main__tag {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(39, 176, 199, 0.4);
    border-radius: 100px;
    padding: 8px 15px;
    transition: $tr;
    margin: 0 5px 5px 0;
    text-transform: none;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #fff;
        background: $accent;
    }
}

.main-slider {
    width: 100%;
    height: 400px;

    @media (max-width: $wwa + px) {
        display: flex;
        justify-content: center;
    }

    @media (max-width: $wwa3 + px) {
        height: 300px;
    }

    & .student-card {

        &:hover {
            transform: none;
        }
    }
}

.main-slider-wrapper {
    position: relative;
    width: 400px;
    height: 100%;
    margin: 0 0 0 32px;

    @media (max-width: $wwa + px) {
        margin: 0 0 0 -64px;
    }

    @media (max-width: $wwa3 + px) {
        transform: scale(.8);
    }

    @media (max-width: 420px) {
        transform: scale(.6);
        margin: 0 0 0 -140px;
    }
}

.main-slide {
    $timer: .5s;

    position: absolute;
    z-index: 1;
    top: 280px; 
    left: 380px;
    transform: translate(-50%, -50%) scale(.6);
    opacity: 0;
    transition: $timer;
    // pointer-events: none;

    @media (max-width: $wwa2 + px) {
        transform: translate(-50%, -50%) scale(1);
    }
    
    &._active-prev {
        animation: slidePrev $timer ease-in-out 0s forwards;

        @media (max-width: $wwa2 + px) {
            animation: none;
        }
    
        @keyframes slidePrev {
            0% {
                z-index: 1;
                top: 50%;
                left: 50%;
                opacity: 0;
                transform: translate(-50%, -50%) scale(1);
            }
            40% {
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(.7);
                opacity: 0;
            }
            60% {
                opacity: 0;
            }
            100% {
                z-index: 1;
                top: 290px;
                left: 400px;
                transform: translate(-50%, -50%) scale(.6);
                opacity: 1;
            }
        }
    }

    &.slide_current {
        z-index: 2;
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        
        
        &._active {
            animation: slideCurrent $timer ease-in-out 0s forwards;

            @media (max-width: $wwa2 + px) {
                animation: slideCurrentMobile $timer ease-in-out 0s forwards;
                
                @keyframes slideCurrentMobile {
                    0% {
                        z-index: 2;
                        top: 50%;
                        left: 50%;
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }
                    100% {
                        z-index: 1;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(.6);
                        opacity: 0;
                    }
                }
            }
            
            & .student-tooltip {
                animation: slideTooltipHidden $timer ease-in-out 0s forwards;
            }

            @keyframes slideTooltipHidden {
                0% {
                    opacity: 1;
                }
                40% {
                    opacity: 0;
                }
                100% {
                    opacity: 0;
                }
            }

            @keyframes slideCurrent {
                0% {
                    z-index: 2;
                    top: 50%;
                    left: 50%;
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
                40% {
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(.7);
                    opacity: 1;
                }
                60% {
                    opacity: 1;
                }
                100% {
                    z-index: 1;
                    top: 290px;
                    left: 400px;
                    transform: translate(-50%, -50%) scale(.6);
                    opacity: 0;
                }
            }
        }

        & .student-tooltip {
            animation: slideTooltip .3s ease-in-out 0s forwards;

            @media (max-width: 420px) {
                animation: slideTooltipMobile .3s ease-in-out 0s forwards;
                
                @keyframes slideTooltipMobile {
                    0% {
                        top: 50%;
                        transform: translate(-20px,-50%) scale(1.6);
                        opacity: 0;
                    }
                    100% {
                        transform: translate(0,-50%) scale(1.6);
                        opacity: 1;
                    }
                }
            }

            @keyframes slideTooltip {
                0% {
                    transform: translate(-20px,0);
                    opacity: 0;
                }
                100% {
                    transform: translate(0,0);
                    opacity: 1;
                }
            }
        }
    }
    
    &.slide_next {
        z-index: 1;
        top: 290px;
        left: 400px;
        opacity: 1;

        @media (max-width: $wwa2 + px) {
            top: 50%;
            left: 400px;
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
        
        &._active {
            animation: slideNext $timer ease-in-out 0s forwards;
        
            @keyframes slideNext {
                0% {
                    z-index: 1;
                    top: 290px;
                    left: 400px;
                }
                40% {
                    z-index: 2;
                    top: 320px;
                    left: 440px;
                    transform: translate(-50%, -50%) scale(.6);
                }
                100% {
                    z-index: 2;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(1);
                }
            }

            @media (max-width: $wwa2 + px) {
                animation: slideNextMobile $timer ease-in-out 0s forwards;
            
                @keyframes slideNextMobile {
                    0% {
                        z-index: 1;
                        left: 400px;
                    }
                    40% {
                        z-index: 2;
                        // left: 440px;
                    }
                    100% {
                        z-index: 2;
                        // top: 50%;
                        left: 50%;
                        opacity: 1;
                    }
                }
            }
        }
    }

    & .student-card {
        max-width: none;
        width: 264px;
    }

    & .student-tooltip {
        position: absolute;
        top: 20px;
        right: -140px;
        max-width: 173px;
        width: 100%;
        background: linear-gradient(102.51deg, #C5F7FF 4.8%, #FFFFFF 112.27%);
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 15px 17px 19px;
        opacity: 0;

        @media (max-width: 420px) {
            top: 50%;
            right: -170px;
            transform: translate(0, -50%) scale(1.6);
        }
    }

    .student-tooltip__content {

    }

    & .student-tooltip__text {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
    }
}

// .main-slider {
//     width: 240px;
//     overflow: visible;
//     filter: drop-shadow(rgba(0, 0, 0, 0.25) 2px 5px 15px);
//     pointer-events: none;

//     @media (max-width: $wwa + px) {
//       margin: 32px 0 0 0;
//       max-width: 240px;
//       width: 100%;
//     }
    
//     @media (max-width: 540px) {
//         max-width: none;
//         margin-top: -20px;
//     }

//     @media (max-width: 420px) {
//       width: 140%;
//     }
// }

// .main-slide {
//     opacity: 0;
//     transition: opacity .1s, transform .2s;

//     .student-tooltip {
//         position: absolute;
//         top: 20px;
//         right: -140px;
//         max-width: 186px;
//         width: 100%;
//         background: linear-gradient(102.51deg, #C5F7FF 4.8%, #FFFFFF 112.27%);
//         box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
//         border-radius: 5px;
//         padding: 15px 17px 19px;
//         opacity: 0;
//     }

//     .student-tooltip__content {

//     }

//     .student-tooltip__text {
//         font-size: 15px;
//         font-weight: 400;
//         line-height: 1.2;
//     }

//     &.swiper-slide-active {
//         opacity: 1;
//         transform: scale(1.1);
//         z-index: 1;
//         pointer-events: all;
//         // transition: opacity .5s;

//         & .student-tooltip {
//             transform: scale(.85);
//             opacity: 1;

//             @media (max-width: 540px) {
//               transform: scale(1.2);
//               top: 90px;
//               left: 240px;
//             }

//             @media (max-width: 330px) {
//               transform: scale(1.2);
//               top: 90px;
//               left: 220px;
//             }
//         }

//         @media (max-width: $wwa3 + px) {
//           transform: scale(1);
//         }

//         @media (max-width: 540px) {
//           transform: scale(.8);
//         }

//         @media (max-width: 420px) {
//           transform: scale(.7);
//         }
//     }

//     &.swiper-slide-next {
//         opacity: 1;
//         z-index: -1;
//         position: relative;
//         top: 100px;
//         left: -60px;
//         z-index: -1;
//         transform: scale(.6);

//         & .student-card {
//         }

//         @media (max-width: $wwa + px) {
//             opacity: 0;
//         }
//     }
// }

.main-reg {
    display: none;

    @media (max-width: 600px) {
      display: block;
    }

    @media (max-width: 420px) {
        margin-top: -20px;
    }
}