.rate-call__content {
    // flex-direction: row;
    // justify-content: space-between;
    position: relative;
    padding: 60px 40px 50px 50px;

    @media (max-width: 500px) {
        padding: 40px 12px 0 12px;
    }
}

.rate-call__content-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: $wwa3 + px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

.rate-call__form {
    max-width: 438px;
    width: 100%;
    margin: 80px 0 0 0;

    @media (max-width: $wwa3 + px) {
        max-width: none;
        margin: 40px 0 0 0;
    }
}

.rate-call__info {
    min-width: 150px;
    width: 150px;
    margin: 0 0 0 24px;

    @media (max-width: $wwa3 + px) {
        min-width: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        & .student-briefly__avatar {
            width: 92px;
            height: 92px;
        }
    }
}

.rate-call__title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    font-weight: 500;
    text-align: center;

    @media (max-width: $wwa3 + px) {
        font-size: 20px;
        font-weight: 700;
        position: initial;
    }
}

.rate-call__rating-list {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    column-gap: 54px;
    row-gap: 20px;

    @media (max-width: $wwa3 + px) {
        justify-content: center;
    }
}

.rate-call__rating-item {
    align-items: flex-start;
    margin: 0!important;

    @media (max-width: $wwa3 + px) {
        align-items: center;
    }
}

.rate-call__textarea {
    width: 100%;
    margin: 45px 0 0 0;
}