// Раздел с фильтром и поиском
.univers-settings {
    margin: 40px 0 0 0;
}

.univers__filter {
    padding: 0;
}

// Слайдер
.univers__slider__section {
    padding: 0;

    & .container {

        @media screen and (max-width: 1023px) {
          max-width: none;
        }
    }
}

.univers__slider {
    width: 100%;
    height: 470px;
    position: relative;
    border-radius: 5px;

    @media screen and (max-width: 500px) {
    //   height: 350px;
    }
}

.univers__slide {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.univers__slide__content {
    width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
      width: 100%;
      padding: 0 32px;
    }

    @media screen and (max-width: 500px) {
      padding: 0 22px;
    }
}

.univers__slide-title {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-align: center;

    @media screen and (max-width: 1023px) {
      font-size: 32px;
    }

    @media screen and (max-width: 500px) {
      font-size: 28px;
    }
}

.univers__slide-text {
    max-width: 560px;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin: 24px 0 0 0;
    text-align: center;

    @media screen and (max-width: 1023px) {
      font-size: 20px;
    }

    @media screen and (max-width: 500px) {
      font-size: 18px;
      margin: 20px 0 0 0;
    }
}

.univers__slide-more {
    background: #fff;
    color: $accent;
    margin: 40px 0 0 0;

    @media screen and (max-width: 500px) {
    //   margin: 24px 0 0 0;
    }
}

.univers__estim {
    position: absolute;
    top: 12px;
    right: 18px;
    color: #fff;
}

.univers__estim-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;

    @media screen and (max-width: 500px) {
        font-size: 14px;
    }
}

.univers__estim__rating-text {
    color: #fff;
}

.univers__estim__rating-quantity {
    color: #fff;
}

.univers__slide-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(33, 44, 82, 0.6) 0%, rgba(39, 176, 199, 0.6) 100%);
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
    }
}

.univers__slider-pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;

    @media screen and (max-width: 500px) {
        bottom: 20px;
    }

    & .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: $accent;
        transition: .3s;
        
        &:not(:last-child) {
            margin-right: 10px;
        }

        &-active {
            background: #fff;
        }
    }
}

// Раздел с карточками

.univers {
    padding: 50px 0 80px 0;

    @media (max-width: $wwa3 + px) {
        padding: 24px 0 40px 0;
    }

    & .page-title__wrap {
        margin-top: 0;
    }
}

.univers__body {
    margin: 40px 0 0 0;

    @media (max-width: $wwa3 + px) {
        margin: 30px 0 0 0;
    }
}

.univers__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 20px;

    @media screen and (max-width: $wwa2 + px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
} 

.univers-card {
    position: relative;
    background: #fff;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
    padding: 20px 30px 30px;
    border-radius: 5px;

    @media screen and (max-width: 1023px) {
        padding: 20px 20px 30px;
    }
}

.univers-card__logo {
    height: 60px;
    margin: 20px 0 0 0;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
    }
}

.univers-card__section {
    margin: 20px 0 0 0;
}

.univers-card__title {
    display: flex;
}

.univers-card__tilte-icon {
    width: 14px;
    height: 14px;
    margin: 2px 0 0 0;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.univers-card__title-block {
    margin: 0 0 0 5px;
}

.univers-card__tilte-text {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.univers-card__title-label {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0 0 0;
}

.univers-card__course {

}

.univers-card__subtitle {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 6px 0;
    text-transform: none;
}

.univers-card__course-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.univers-card__course-item {
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    padding: 4px;
    background: #212C52;
    border-radius: 5px;
    margin: 0 5px 5px 0;

    &:hover {
        color: #fff;
    }
}

.univers-card__course-more {
    background: $accent;

    & span {
        line-height: inherit;
    }
}

.univers-card__students {

}

.univers-card__students-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.univers-card__students-item {
    width: 50px;
    height: 50px; 
    border-radius: 100px;
    margin-bottom: 10px;

    &:not(:last-child) {
        margin: 0 10px 10px 0;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.univers-card__students-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $accent;
}

.univers-card__students-more-quantity {
    font-size: 14px;
    color: #fff;
}

.univers-card__students-more-text {
    font-size: 8px;
    color: #fff;
}

.univers-cards-more {
    display: flex;
    margin: 40px auto 0 auto;
}