.btn {
    font-weight: 500;
    text-align: center;
    display: inline-block;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    padding: 13px 15px;
    transition: $tr;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;

    img{
        margin-left: 9px;
    }

    &._disabled {
        background: #C0C0C0;
        pointer-events: none;
    }
    
    // span{ 
    //     position: relative;
    //     top: 12px; 
    // }

    @media (max-width: $wwa3 + px) {
      font-size: 14px;
    }
}
    
.btn_border {
    border: 2px solid;

    &:hover {
        color: #212C52 !important;
    }
}

.btn_accent{
    overflow: hidden;
    position: relative;
    &:after{
        content: "";
        top: -50%;
        right: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        background: linear-gradient(to bottom,rgba(229,172,142,0),rgba(255,255,255,.7) 50%,rgba(229,172,142,0));
        transform: rotateZ(60deg) translate(-5em,7.5em);
        opacity: 0;
        position: absolute;
        z-index: 1;
        filter: alpha(opacity=0);
        animation: sheens 3s infinite;
    }
}
    
.btn_full{
    border: 2px solid transparent;
    background: $accent;
    color: #fff!important;
    &:hover {
        background: #212C52;
    }
    
}

.btn_center {
    width: fit-content;
    display: flex;
    margin: 40px auto 0 auto;
    background: $accent;
}