.estim {
    display: flex;
    align-items: center;
}

.estim_univer {
    width: fit-content;

    & .estim__city-text {
        font-size: 16px;
        font-weight: 500;
    }
}    

.estim__city {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
}

.estim__city-icon {
    width: 12px;
    height: 14px;
    transform: translate(0, -2px);

    & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.estim__city-text {
    font-size: 12px;
    font-weight: 500;
    color: #838383;
    margin: 0 0 0 5px;
}

.estim__rating {
    display: flex;
    align-items: center;
    margin: 0 0 0 24px;

    @media (max-width: 500px) {
        margin: 0 0 0 16px;
    }
}

.estim__rating-text {
    font-size: 14px;
    font-weight: 400;
    color: $accent;
}

.estim__rating-icon {
    width: 20px;
    height: 20px;
    display: flex; 
    margin: -2px 4px 0 4px  ;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.estim__rating-quantity {
    font-size: 14px;
    font-weight: 400;
    color: #838383;
}

.estim-like {
    min-width: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    background: none;
    margin: 0 -8px 0 16px;
    transition: .2s;

    &:hover {
        transform: scale(1.15);
    }

    & svg {
        width: 100%;
        height: 100%;

        & .like-full {
            transition: $tr;
        }
    }

    &._full {
        
        & .like-full {
            fill: #27B0C7;
        }
    }
}