.page {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

.page__body {
    width: 100%;
    padding: 0 0 100px 0;
    
    @media (max-width: $wwa2 + px) {
      padding: 0 0 50px 0;
    }
    
    @media (max-width: $wwa3 + px) {
      padding: 0 0 40px 0;
    }
}