.review-card {
    background-color: #F0F7F9;
    border-radius: 5px;
    padding: 20px 20px 30px;

    @media (max-width: $wwa2 + px) {
        position: relative;
    }
}

.review-card__wrap {

}

// header
.review-card__header {
    display: flex;
    justify-content: space-between;

    @media (max-width: $wwa2 + px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.review-card__img {
    min-width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;

    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 100%;
    }
}

.review-card__info {
    width: 100%;
    margin: 0 0 0 40px;

    @media (max-width: $wwa2 + px) {
        margin: 13px 0 0 0;
    }
}

.review-card__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-card__name-text {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.review-card__rating {
    margin: 0 0 0 12px !important;

    @media (max-width: $wwa2 + px) {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.review-card__course {
    display: flex;
    align-items: center;
    margin: 7px 0 0 0;
}

.review-card__course-icon,
.review-card__semester-icon {
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;

    & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.review-card__course-text {
    font-size: 15px;
    font-weight: 500;
}

.review-card__semester {
    display: flex;
    align-items: center;
    margin: 12px 0 0 0;
}

.review-card__semester-text {
    font-size: 12px;    
    font-weight: 400;
}

// body
.review-card__body {
    margin: 30px 0 0 0;
}

.review-card__estim {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 56px;
    row-gap: 12px;

    @media (max-width: $wwa3 + px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 350px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.review-card__comment {
    margin: 30px 0;
}

.review-card__comment-title {
    font-size: 12px;
    font-weight: 700;
}

.review-card__comment-text {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 0 0;
}
