.student-card {
  width: 100%;
  max-width: 240px;
  padding: 12px 18px 30px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  &:hover {
    transform: scale(1.03);
  }
}

.student-card_main-slider {
  & .estim__rating {
    display: none;
  }

  & .estim-like {
    display: none;
  }

  & .student-briefly__call {
    pointer-events: none;
  }
}

.student-card_big {
  padding: 0;

  @media (max-width: $wwa2 + px) {
    max-width: none;
  }

  & .student-briefly {
    position: relative;
    width: 25%;
    padding: 7px 21px 20px;

    @media (max-width: $wwa2 + px) {
      width: 100%;
    }
  }

  & .student-about,
  & .student-message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 77%;
    padding: 15px 21px 28px;
    background: #f0f7f9;

    @media (max-width: $wwa2 + px) {
      width: 100%;
    }
  }

  & .student-briefly__call {
    display: none;
  }

  & .student-message {
    @media (max-width: $wwa3 + px) {
      position: initial;
    }
  }

  @media (min-width: $wwa2 + px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: none;
    overflow: hidden;

    & .students-box__phone {
      display: none;
    }
  }
}

// Основная информация о студенте
.student-briefly__avatar {
  position: relative;
  max-width: 142px;
  margin: 10px auto 0 auto;
  @media (min-width: 1100px) {
    --size: 170px;
    width: var(--size);
    max-width: var(--size);
    height: var(--size);
    margin: 7px auto 0 auto;
  }
}

.student-briefly__avatar-img {
  overflow: hidden;
  border-radius: 200px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.student-briefly__call {
  position: absolute;
  right: 0;
  bottom: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: $accent;
  border-radius: 100px;
  transition: $tr;

  @media (min-width: 1100px) {
    right: 1px;
    bottom: -9px;
    width: 54px;
    height: 54px;
  }

  &:hover {
    background: $accent-hover;
  }
}

.student-briefly__call-icon {
  width: 22px;
  height: 22px;
  @media (min-width: 1100px) {
    width: 29px;
    height: 29px;
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}

.student-briefly__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
  @media (min-width: 1100px) {
    margin: 29px 0 0 0;
  }
}

.student-briefly__info-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 1100px) {
    font-size: 27px;
  }
}

.student-briefly__info-block {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  @media (min-width: 1100px) {
    margin: 5px 0 0 0;
    margin-left: -8px;
  }
}

.student-briefly__info-block-icon {
  width: 14px;
  min-width: 14px;
  height: 14px;
  @media (min-width: 1100px) {
    --size: 18px;
    width: var(--size);
    min-width: var(--size);
    height: var(--size);
    margin-left: -15px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.student-briefly__info-block-text {
  margin: 0 0 0 5px;
  font-size: 12px;
  text-align: center;
  @media (min-width: 1100px) {
    margin: 0 0 0 7px;
    font-size: 15px;
    letter-spacing: 0.1px;
  }
}

.student-briefly__info-subtitle {
  margin: 10px 0 0 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  @media (min-width: 1100px) {
    margin: 12px 0 2px 0;
    font-size: 18px;
    line-height: 1.25;
    text-transform: initial;
  }
}

// Подробнее о студенте
.student-about {
  display: none;
}

.student-about__content {
  text-align: left;

  &:not(:last-child) {
    margin: 0 0 24px 0;
  }

  &:last-child {
    padding: 0 90px 0 0;
  }
}

.student-about__title {
  margin: 0 0 11px 0;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.student-abroad {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.student-abroad__title {
  margin: 0 0 5px 0;
  font-size: 12px;
  font-weight: 500;
  color: #838383;
}

.student-abroad__item {
  margin: 6px 0;

  &:not(:last-child) {
    margin-right: 60px;
  }
}

.student-abroad__info {
  display: flex;
  align-items: center;
}

.student-abroad__info-icon {
  display: flex;
  width: 14px;
  min-width: 14px;
  height: 14px;
  margin: 0 5px 0 0;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.student-abroad__info-text {
  font-size: 16px;
  font-weight: 400;
}

.student-about__list {
  display: flex;
  flex-wrap: wrap;
}

.student-about__list-item,
.student-about__list-item-delete {
  display: block;
  padding: 12px;
  margin: 0 12px 12px 0;
  font-size: 16px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  transition: $tr;

  @media (max-width: $wwa3 + px) {
    padding: 6px 12px;
    margin: 0 6px 6px 0;
    font-size: 12px;
  }

  &:hover {
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0);
    transform: translate(2px, 4px);
  }

  &._tag-delete {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      font-size: 20px;
      color: #fff;
      content: "-";
      background: #eb5b5b;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      color: #eb5b5b;
    }
  }
}

.student-about__list-item-delete {
  color: #fff;
  background: $accent;
}

.student-call__block {
  position: absolute;
  right: 11px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-call__label {
  font-size: 12px;
  font-weight: 500;
  color: #838383;
}

.student-call__price {
  font-size: 16px;
  font-weight: 400;
}

.student-call__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 10px 0 0 0;
  background: $accent;
  border-radius: 100px;
  transition: $tr;

  &:hover {
    background: $accent-hover;
  }

  & svg {
    width: 50%;
    height: 50%;
  }
}

// Состояние сообщения
.student-card_condition {
  @media (max-width: $wwa2 + px) {
    position: relative;
  }

  & .student-briefly {
    @media (max-width: $wwa2 + px) {
      padding-top: 45px;
    }
  }

  & .student-message {
    @media (max-width: $wwa2 + px) {
      position: initial;
    }
  }

  & .student-message-condition {
    display: flex;
  }
}

.student-message-condition {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 72px;
  height: 72px;
  padding: 10px 5px;
  border-radius: 0 5px 0 5px;

  @media (max-width: $wwa2 + px) {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 9px 5px;
    border-radius: 5px 5px 0 0;
  }
}

.student-message-condition__text {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.student-message-condition__icon {
  width: 32px;
  height: 32px;
  margin: 5px 0 0 0;

  @media (max-width: $wwa2 + px) {
    width: 20px;
    height: 20px;
    margin: 0 0 0 9px;
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}

// На стадии одобрения
.student-message_approval .student-message-condition {
  background: #ef9868;
}

// Принятое
.student-message_done .student-message-condition {
  background: #63cea1;
}

// Отмененное
.student-message_canceled .student-message-condition {
  background: #fd6467;
}

.student-message_canceled {
  & .student-message-footer__support {
    color: #fd6467;
  }
}

// Задержка
.student-message_delayed .student-message-condition {
  background: #615f82;
}

// Задержка
.student-message_send .student-message-condition {
  background: #27b0c7;
}

// Сообщение студенту
.student-message__block {
  margin: 0 0 20px 0;
}

.student-message__title {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: 500;
}

.student-message__text {
  width: 100%;
  max-width: 550px;
  padding: 0 50px 0 0;
  font-size: 16px;
  font-weight: 400;
}

// Чекбоксы
.student-message__checkbox-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.student-message__checkbox {
  position: relative;
  width: fit-content;
  margin: 6px 0;

  &:not(:last-child) {
    margin-right: 20px;
  }

  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:checked {
      & + label::before {
        background-color: #0075ff;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        border: 2px solid #0075ff;
      }

      &:hover {
        & + label::before {
          background-color: #005cc8;
          border-color: #005cc8;
        }
      }
    }

    &:hover {
      & + label::before {
        background-color: #fafafa;
      }
    }
  }

  & label {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      min-width: 26px;
      height: 26px;
      margin: 0 10px 0 0;
      content: "";
      background: #fff;
      border: 2px solid $outline;
      border-radius: 5px;
      transition: background-color $tr, border-color $tr;
    }
  }
}

.student-message__edit {
  width: 16px;
  height: 16px;

  &:hover {
    & img {
      transform: scale(1.2);
    }

    // & .student-message__edit-icon svg path {
    //     fill: $main;
    // }
  }
}

.student-message__edit-icon {
  display: block;
  width: 100%;
  height: 100%;

  & svg,
  & img {
    width: 100%;
    height: 100%;
    transition: $tr;
  }

  // & svg path {
  //     transition: $tr;
  // }
}

// Предложения студента
.student-message__suggest-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.student-message__suggest {
  display: flex;
  align-items: center;
  margin: 6px 0;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.student-message__suggest_error {
  color: #fd6467;

  & svg path {
    fill: #fd6467;
  }
}

.student-message__suggest-icon {
  display: block;
  width: 14px;
  height: 14px;
  margin: -4px 0 0 0;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.student-message__suggest-text {
  margin: 0 0 0 7px;
  font-size: 16px;
  font-weight: 400;
}

// Состояние оплаты и расценка студента
.student-message__payment {
  display: flex;

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.student-message__payment-text {
  display: block;
  font-size: 16px;
  white-space: nowrap;
}

.student-message__payment-condition {
  display: block;
  margin: 0 0 0 20px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;

  @media (max-width: 400px) {
    margin: 8px 0 0 0;
  }
}

.student-message__payment-condition_success {
  color: #63cea1;
}

.student-message__payment-condition_canceled {
  color: #ef9868;
}

// Footer карточки
.student-message-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto 0 0 0;

  @media (max-width: 540px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.student-message-footer__support {
  padding: 13px 0;
  margin: 0 12px 0 0;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;

  & a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 540px) {
    padding: 0;
    margin: 0 0 20px 0;
  }
}

a.student-message-footer__support {
  text-decoration: underline;
}

.student-message-footer__support_icon {
  position: relative;

  &:hover {
    &::after {
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2:5704)'%3E%3Cpath d='M8.57141 2.14307H1.28571C0.575633 2.14307 0 2.7187 0 3.42878V10.7145C0 11.4246 0.575633 12.0002 1.28571 12.0002H8.57141C9.28149 12.0002 9.85713 11.4246 9.85713 10.7145V3.42878C9.85713 2.7187 9.28149 2.14307 8.57141 2.14307ZM8.99999 10.7145C8.99999 10.9512 8.80812 11.1431 8.57141 11.1431H1.28571C1.04901 11.1431 0.857134 10.9512 0.857134 10.7145V3.42878C0.857134 3.19208 1.04901 3.0002 1.28571 3.0002H8.57141C8.80812 3.0002 8.99999 3.19208 8.99999 3.42878V10.7145Z' fill='%2327B0C7'/%3E%3Cpath d='M10.7138 0H2.99957C2.28948 0 1.71385 0.575633 1.71385 1.28571C1.71385 1.52241 1.90573 1.71429 2.14243 1.71429C2.37913 1.71429 2.57099 1.52241 2.57099 1.28571C2.57099 1.04901 2.76286 0.857134 2.99957 0.857134H10.7138C10.9505 0.857134 11.1424 1.04901 11.1424 1.28571V8.99999C11.1424 9.23669 10.9505 9.42857 10.7138 9.42857C10.4771 9.42857 10.2853 9.62045 10.2853 9.85715C10.2853 10.0939 10.4771 10.2857 10.7138 10.2857C11.4239 10.2857 11.9996 9.7101 11.9996 9.00002V1.28571C11.9996 0.575633 11.4239 0 10.7138 0Z' fill='%2327B0C7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2:5704'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        no-repeat 100%;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    right: -6px;
    width: 12px;
    height: 14px;
    content: "";
    background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2:5704)'%3E%3Cpath d='M8.57141 2.14307H1.28571C0.575633 2.14307 0 2.7187 0 3.42878V10.7145C0 11.4246 0.575633 12.0002 1.28571 12.0002H8.57141C9.28149 12.0002 9.85713 11.4246 9.85713 10.7145V3.42878C9.85713 2.7187 9.28149 2.14307 8.57141 2.14307ZM8.99999 10.7145C8.99999 10.9512 8.80812 11.1431 8.57141 11.1431H1.28571C1.04901 11.1431 0.857134 10.9512 0.857134 10.7145V3.42878C0.857134 3.19208 1.04901 3.0002 1.28571 3.0002H8.57141C8.80812 3.0002 8.99999 3.19208 8.99999 3.42878V10.7145Z' fill='%23152142'/%3E%3Cpath d='M10.7138 0H2.99957C2.28948 0 1.71385 0.575633 1.71385 1.28571C1.71385 1.52241 1.90573 1.71429 2.14243 1.71429C2.37913 1.71429 2.57099 1.52241 2.57099 1.28571C2.57099 1.04901 2.76286 0.857134 2.99957 0.857134H10.7138C10.9505 0.857134 11.1424 1.04901 11.1424 1.28571V8.99999C11.1424 9.23669 10.9505 9.42857 10.7138 9.42857C10.4771 9.42857 10.2853 9.62045 10.2853 9.85715C10.2853 10.0939 10.4771 10.2857 10.7138 10.2857C11.4239 10.2857 11.9996 9.7101 11.9996 9.00002V1.28571C11.9996 0.575633 11.4239 0 10.7138 0Z' fill='%23152142'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2:5704'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      no-repeat 100%;
    transition: $tr;
    transform: translate(100%, -50%);
  }
}

.student-message-footer__button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 auto;

  @media (max-width: 540px) {
    margin: 0;
  }

  & .btn {
    margin: 10px 0;
  }
}

.student-message-footer__btn {
  &:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.student-message-footer__btn_refuse {
  color: $accent;
}

// Рейтинг
.student-message__rating-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px 0 0;

  & .rating-card__type {
    margin: 6px 0;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}
