h1,h2,h3,h4{
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;

    @media (max-width: $wwa3 + px) {
      font-size: 20px;
    }
}

.title_center {
    text-align: center;
}

// h1{
//     font-size: 22px;
//     text-transform: uppercase;
// }
    
// h2{
//     font-size: 20px;
//     text-align: center;
//     position: relative;
// }

// .title__wrap {
//     margin-bottom: 30px;
//     width: 100%;
// }

// .section__title {
//     font-family: $titles_font;
//     font-weight: 700;
//     font-size: 28px;
// }

// @media (max-width: 1023px) {
//     .section__title {
//         font-size: 20px;
//     }
// }