.rating {
    margin: 30px 0 60px 0;

    @media (max-width: $wwa3 + px) {
        margin: 30px 0 40px 0;
    }

    & .section-title {
        justify-content: flex-start;
    }
}

.rating__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 26px;
    row-gap: 16px;
    margin: 30px 0 0 0;

    @media (max-width: $wwa2 + px) {
      grid-template-columns: 1fr;
    }
}

.rating-card {
    background: #F0F7F9;
    border-radius: 5px;
    padding: 30px 20px;

    @media (max-width: $wwa3 + px) {
      padding: 16px 10px 20px 10px;
    }
}

.rating-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-card__title {
    font-size: 22px;
    font-weight: 500;

    @media (max-width: $wwa3 + px) {
      font-size: 18px;
    }
}

.rating-card__type-list {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 54px;
    row-gap: 20px;
    margin: 30px 0 0 0;

    @media (max-width: 360px) {
        column-gap: 24px;
    //   grid-template-columns: 1fr;
    }
}

.rating-card__type-title {
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    color: #838383;
    white-space: nowrap;

    @media (max-width: $wwa2 + px) {
      white-space: normal;
    }
}

.rating-card__list-star {
    display: flex;
    align-items: center;
    margin: 6px 0 0 0;

    & span {
        display: inline-block;
        width: 20px;
        height: 20px;
    
        & svg {
            width: 100%;
            height: 100%;
        }
        
        &:not(:last-child) {
            margin: 0 2px 0 0;
        }
    
        &.rating-card__star_full {
    
            & svg path {
                fill: $accent;
                stroke: $accent;
            }
        }
    
        &.rating-card__star_outline {
    
            & svg path {
                fill: none;
                stroke: $accent;
            }
        }
    }
}


.rating-card__comment {
    margin: 30px 0;

    @media (max-width: $wwa3 + px) {
      margin: 20px 0 0 0;
    }
}

.rating-card__comment-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: none;
}

.rating-card__comment-text {
    margin: 5px 0 0 0;
}

.rating-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0 0 0;
}

.rating-card__date {
    font-size: 12px;
    font-weight: 400;
}

.rating-card__date-mounth {

}

.rating-card__date-day {

}

.rating-card__date-year {

}

.rating-card__estim {
    display: flex;
    align-items: center;
}

.rating-card__estim-block {
    display: flex;
    align-items: center;

    &:first-child {
        margin: 0 16px 0 0;
    }
}

.rating-card__estim-block_like {
    // align-items: flex-end;
}

.rating-card__estim-block_dislike {
    // align-items: flex-start;

    & .rating-card__estim-btn {
        transform: translate(0,6px);
    }
}

.rating-card__estim-btn {

}

.rating-card__estim-icon {
    width: 20px;
    height: 20px;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.rating-card__estim-quantity {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 5px;
}